.container{
	display: flex;

	.title{
		font-weight: 600;
		font-size: 14px;
	}

	.necessarily{
		margin-right: 4px;
		color: #B21F00;
	}
}

.options{
	display: flex;
	align-items: flex-start;
	gap: 4px;

	.inputContainer{
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0;
		padding: 0;
		min-height: 30px;
		width: 100%;
		border: 1px solid #ABB1BA;
		border-radius: 4px;

		.input{
			width: 100%;
			margin: 6px 4px 6px 8px;
			padding: 0;
		}

		.arr{
			display: flex;
			gap: 4px;
			margin-left: 4px;
			box-sizing: border-box;
			width: 100%;
			flex-wrap: wrap;
		}

		.added{
			display: flex;
			align-items: flex-end;
			padding: 0 8px 2px 8px;
			border: 1px solid #99D5FF;
			border-radius: 4px;
			background-color: #E5F4FF;

			.delete{
				margin-left: 8px;
				cursor: pointer;
			}
		}

		.svg{
			margin: 8px;
			cursor: pointer;
		}
	}
}

