.inputContainer{
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
	border: 1px solid #ABB1BA;
	border-radius: 4px;

	.input{
		margin: 6px 4px 6px 8px;
		border: none;
		outline:none;
		resize:none;
		color: #2E3238;
	}

	.svg{
		margin-right: 8px;
		cursor: pointer;
	}
}
