.module{
	position: fixed;
	display: flex;
	flex-direction: column;
	top: 0;
	left: 0;
	right: 0;
	background-color: rgba(11, 12, 14, 0.4);
	align-items: center;
	z-index: 1;
	height: 100%;
	padding: 20px 16px 0 16px;

	.content{
		padding: 28px 16px;
		box-sizing: border-box;
		border-radius: 4px;
		max-width: 800px;
		width: 100%;
		background-color: #ffffff;
		overflow-y: auto;

		.options{
			display: flex;
			justify-content: space-between;


			.subtask{
				font-family: "Montserrat", serif;
				font-optical-sizing: auto;
				font-weight: 400;
				font-size: 20px;
				font-style: normal;
			}

			.save{
				color: #ffffff;
				background-color: #0078CF;
			}

			.save:hover{
				color:  #0078CF;
				background-color: #ffffff;
			}
		}
	}

	.content::-webkit-scrollbar {
		display: none;
	}

	.task{
		display: flex;
		flex-direction: column;
		margin-top: 16px;

		.title{
			font-weight: 600;
			font-size: 24px;
			line-height: 32px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			max-width: 100%;
		}

		.information{
			margin-top: 16px;
			display: grid;
			grid-template-columns: repeat(1, 1fr);
			gap: 16px;
		}
	}
}
