.content{
	display: flex;
	flex-direction: column;
	width: 100%;
	overflow: hidden;
	padding: 16px;

	.options{
		display: flex;
		justify-content: space-between;

		.save{
			color: #ffffff;
			background-color: #0078CF;
		}

		.save:hover{
			color:  #0078CF;
			background-color: #ffffff;
		}
	}

	.task{
		display: flex;
		flex-direction: column;
		margin-top: 16px;

		.title{
			font-weight: 600;
			font-size: 24px;
			line-height: 32px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			max-width: 100%;
		}

		.information{
			margin-top: 16px;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 16px;
		}

		.information > :nth-child(-n+8) {
			grid-column: span 1;
		}
		.information > :nth-child(n+9) {
			grid-column: span 2;
		}
		.information > :nth-child(n+11) {
			grid-column: span 1;
		}
	}
}
