.sidebar{
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 56px;
	height: 100%;
	left: 0;
	background-color: #ffffff;
	z-index: 1001;

	.svg{
		padding: 16px;
		cursor: pointer;
	}
}
