.button{
	width: 32px;
	height: 32px;
	box-sizing: border-box;
	padding: 6px;
	border: 1px solid #D5D8DD;
	border-radius: 4px;
	cursor: pointer;
}

.button:hover{
	background-color: #D5D8DD;
}

.btn{
	background-color: #D5D8DD;
	cursor: default;
}
